.rectangle {
  &-tes {
    width: 139px;
    height: 56px;
    z-index: 0;

    background: #2060F6;
    border-radius: 12px;
    transform: rotate(-60deg);

    position: absolute;

    &_1 {
      bottom: 350px;
      left: 50px;
    }

    &_2 {
      bottom: 270px;
      right: 50px;

    }
  }

  &-view {
    position: absolute;
    transform: rotate(-65.1deg);
    opacity: 0.5;
    box-sizing: border-box;

    &__1 {
      width: 85.61px;
      height: 33.84px;
      top: 72px;
      left: 233px;
      border: 3px solid #2060F6;
      border-radius: 12px;
    }

    &__2 {
      width: 45.28px;
      height: 17.9px;
      top: 77px;
      left: 446px;

      border: 3px solid #2060F6;
      border-radius: 6px;
    }

    &__3 {
      width: 143.04px;
      height: 56.54px;
      top: 283px;
      left: 269px;
      border: 5px solid #2060F6;
      border-radius: 12px;
    }

    &__4 {
      width: 67.36px;
      height: 26.63px;
      left: 82.16px;
      top: 370px;
      border: 5px solid #2060F6;
      border-radius: 12px;
    }

    &__5 {
      width: 93.54px;
      height: 36.98px;
      left: 131.42px;
      top: 518px;

      border: 5px solid #2060F6;
      border-radius: 12px;
    }

    &__6 {
      width: 45.28px;
      height: 17.9px;
      left: 481px;
      top: 465px;

      border: 3px solid #2060F6;
      border-radius: 6px;
    }

    &__7 {
      width: 143.04px;
      height: 56.54px;
      left: 1272.91px;
      top: 131px;

      border: 5px solid #2060F6;
      border-radius: 12px;
    }

    &__8 {
      width: 53.69px;
      height: 21.22px;
      left: 1447.02px;
      top: 110px;

      border: 3px solid #2060F6;
      border-radius: 8px;
    }

    &__9 {
      width: 85.61px;
      height: 33.84px;
      left: 1218.98px;
      top: 385px;

      border: 3px solid #2060F6;
      border-radius: 12px;
    }

    &__10 {
      width: 86.41px;
      height: 34.16px;
      left: 1390px;
      top: 276px;

      border: 3px solid #2060F6;
      border-radius: 12px;
    }

    &__11 {
      width: 45.28px;
      height: 17.9px;
      left: 1012px;
      top: 514px;

      border: 3px solid #2060F6;
      border-radius: 6px;
    }

    &__12 {
      width: 153.61px;
      height: 60.72px;
      left: 1336.69px;
      top: 413px;

      border: 5px solid #2060F6;
      border-radius: 12px;
    }


  }
}

@media screen and (max-width: 999px) {
  .rectangle {
    &-view {
      opacity: 0.1;

    &__7, &__8,  &__9, &__10, &__11, &__12 {
      display: none;
    }

    }
  }
}

@media screen and (max-width: 1400px) {
  .rectangle {
    &-view {
      opacity: 0.2;
    }
  }
}
