.testimonials {
  &__name {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #C0CDD7;
  }

  &__highlight {
    font-weight: 600;
    font-size: 32px;
    color: #253757;
  }
  &__table {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 85px;
  }
}

@media screen and (max-width: 999px) {
  .testimonials {

    &__table {
      flex-direction: column;
      align-items: center;
    }
  }
}
