.card {
  &-exp {

    width: 264px;
    height: 334px;

    &__photo {
      width: 184px;
      height: 166px;
      border-radius: 8px;
      margin: 0 auto;
      background-size: cover;

      &_1 {
        background-image: url("../images/what-we-do/what-we-do-1.jpg");
      }

      &_2 {
        background-image: url("../images/what-we-do/what-we-do-2.jpg");
      }

      &_3 {
        background-image: url("../images/what-we-do/what-we-do-3.jpg");
      }

    }

    &__highlight {
      margin-top: 40px;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      text-align: center;
      color: #253757;
    }

    &__text {
      margin-top: 16px;
      font-size: 14px;
      text-align: center;
      color: #6C788B;
    }
  }

  &-pro {
    box-sizing: border-box;
    width: 264px;
    height: 264px;
    padding: 32px;
    background: #FFFFFF;
    box-shadow: 0px 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    position: relative;

    &__number {
      width: 22px;
      height: 20px;
      padding: 2px 12px;

      background-color: $card-standart-background;

      opacity: 1;
      border-radius: 23px;
      color: $card-standart;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;

      margin-bottom: 24px;

      &_blue {
        background-color: $card-blue-background;
        color: $card-blue;
      }

      &_yellow {
        background-color: $card-yellow-background;
        color: $card-yellow;
      }

      &_green {
        background-color: $card-green-background;
        color: $card-green;
      }

      &_red {
        background-color: $card-red-background;
        color: $card-red;
      }

    }

    &__text {
      font-weight: 600;
      font-size: 13px;
      color: #6C788B;
    }

    &__link {
      position: absolute;
      bottom: 32px;
      display: flex;
      justify-content: space-between;
      margin-top: 32px;
      padding: 0;
      align-self: center;
    }

    &__button {
      height: 40px;
      width: 40px;
      background: $card-standart;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      margin-right: 20px;
      margin-top: -5px;

      &_blue {
        background-color: $card-blue;
      }

      &_yellow {
        background-color: $card-yellow;
      }

      &_green {
        background-color: $card-green;
      }

      &_red {
        background-color: $card-red;
      }

    }

    &__arrow {
      width: 16px;
      height: 16px;
      padding: 12px;
    }

    &__label {
      cursor: pointer;
      display: flex;
      font-family: Poppins;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: #334563;
    }

    &_move {
      position: relative;
      top: 132px
    }

    &_blue {
      background-color: rgba(32, 96, 246, 0.1);
      background: #2060F6;
    }
  }

  &-tes {
    margin-right: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 314px;
    height: 494px;

    padding: 0;

    background: #FFFFFF;
    box-shadow: 0px 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;

    &__photo {
      margin-top: 87px;
      width: 140px;
      height: 140px;
      border-radius: 70px;
      background-position: center;
      background-size: cover;
      z-index: 1;

      &_1 {
        background-image: url("../images/testimonials/testimonial-ava-1.jpg");
      }

      &_2 {
        background-image: url("../images/testimonials/testimonial-ava-2.jpg");
      }

      &_3 {
        background-image: url("../images/testimonials/testimonial-ava-3.jpg");
      }

    }
    &__text {
      margin-top: 86px;
      font-weight: 600;
      font-size: 13px;
      color: #6C788B;
      width: 250px;
      height: 64px;
      text-align: center;

      &::before {
        content: "";
        display: block;
        background-image: url("../images/sub-title/sub-title-icon-dark.svg");
        width: 25px;
        height: 25px;
        background-size: contain;
        background-position: center;
        margin: -5px auto 10px;
      }
    }

    &__name {
      margin-top: 45px;
      font-weight: 600;
      font-size: 13px;
      color: #253757;
      text-align: center;
    }
    &__position {
      margin-top: 4px;
      font-size: 13px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;

      color: #C0CDD7;

    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 999px) {
  .card-exp {
    margin-bottom: 20px;
  }
  .card-pro {

    &_move {
      position: relative;
      top: 0;
    }
  }

  .card-tes {
    margin-top: 25px;
  }

}

