/* Error: expected "{".
 *    ,
 * 50 | display: flex;  height: 690px;\|/padding: 10px 2;
 *    |                                                 ^
 *    '
 *   _section.scss 50:49  @import
 *   main.scss 7:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 50 \2502  display: flex;  height: 690px;\\|/padding: 10px 2;\a    \2502                                                  ^\a    \2575 \a   _section.scss 50:49  @import\a   main.scss 7:9        root stylesheet';
}
